
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-justify-center {
  justify-content: center;
}

.mr-2 {
  margin-right: 2rem;
}


.button {
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  padding-top: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.button--link {
  text-transform: none;
  font-size: 1.25rem;
}

.button--link:hover {
  text-decoration: underline;
}


.article-gallery {
  display: flex;
}

.article-gallery > *:not(:last-child) {
  margin-right: 2rem;
}

.article-gallery__left,
.article-gallery__right {
  flex: 1;
}
.article-gallery__center {
  flex: 3;
}

.card {
  margin-bottom: 2rem;
  transition: 0.2s ease-out all;
  color: #000000;
}

.card__wrapper {
  text-decoration: none;
}

.card--link:hover {
  transform: scale(1.03);
}
.card--link:hover .card__title {
  transition: 0.2s ease-out all;
}

.card--link:hover .card__title {
  color: #294973;
}

.card--horizontal {
  display: flex;
}

.card > *:not(:last-child) {
  margin: 0;
  margin-bottom: 2rem;
}

.card .card__title,
.card .card__subtitle,
.card .card__body-text {
  margin-bottom: 0.5rem;
}

.card__title {
  font-weight: bold;
  font-size: 1.5rem;
}

.card__subtitle {
  text-transform: uppercase;
}

.card__body-text {
  font-size: 1.25rem;
}

.card__media {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.card__media--3by2 {
  padding-top: 66.6%;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card--horizontal {
  align-items: center;
}

.card--horizontal .card__media {
  padding: 0;
  padding-right: 20%;
  padding-top: 13.3%;
  margin: 0;
  margin-right: 2rem;
}

.card--featured .card__media {
    padding-right: 40%;
    padding-top: 26.7%;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article p {
  margin: 1rem 0;
}

.article p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.article {
  max-width: 80ch;
}

.article__title {
  font-size: 2rem;
}
