
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-justify-center {
  justify-content: center;
}

.mr-2 {
  margin-right: 2rem;
}


.button {
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  padding-top: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.button--link {
  text-transform: none;
  font-size: 1.25rem;
}

.button--link:hover {
  text-decoration: underline;
}




.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article p {
  margin: 1rem 0;
}

.article p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.article {
  max-width: 80ch;
}

.article__title {
  font-size: 2rem;
}
