// define design tokens

// breakpoints
$breakpoints: (
    "sm": 500px,
    "md": 900px,
    "lg": 1400px,
);

// colors
$primary: #294973;
$accent: #fac809;
$accent-light: #fde487;

$placeholder: rgba(255, 255, 255, 0.6);
$placeholder-dark: rgba(0, 0, 0, 0.6);

$white: #ffffff;
$black: #000000;

// borders
$border-light: 1px solid #cccccc;
$border-primary: 3px $solid primary;

// spacing intervals (for margin and padding)
$spacing: (
    "0_25": 0.25rem,
    "0_5": 0.5rem,
    "0_75": 0.75rem,
    "1": 1rem,
    "1.5": 1.5rem,
    "2": 2rem,
);

// fonts
$fontBrand: "ImprintMTShadow", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$fontMotto: "franklinGothic", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$fontBody: MinionPro, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

// font sizing
$fontSizes: (
    "body-4": 0.875rem,
    "body-3": 1rem,
    "body-2": 1.125rem,
    "body-1": 1.25rem,
    "h3": 1.5rem,
    "h2": 2rem,
    "h1": 3rem,
);
