@use "variables";
@use "utilities";
@use "sass:map";


.header {
    background-color: variables.$primary;
    color: variables.$white;
}

.header__content {
    display: flex;
    align-items: center;
    max-width: 1400px;
    @extend .my-0;
    @extend .mx-auto;
    @extend .py-1;
    @extend .px-3;
}

.header__content

.header__home-link {
    flex: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.header__logo {
    height: 85px;
    width: 85px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.header__wordmark {
    flex: 1;
    font-size: 48px;
    font-family: variables.$fontBrand;
    font-weight: normal;
    color: #fde487;
    text-transform: uppercase;
    text-align: center;
}

.header__motto {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: variables.$fontMotto;
}
