@use "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: variables.$fontBody;
    font-size: 100%;
}

@media (prefers-color-scheme: dark) {
    body,
    html {
        color: variables.$white;
        background-color: variables.$nearBlack;
    }
}

@font-face {
    font-family: ImprintMTShadow;
    src: local("ImprintMTShadow"), local("ImprintMTShadow"), url("../fonts/ImprintMTShadow.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: franklinGothic;
    src: local("franklinGothic"), local("franklinGothic"), url("../fonts/franklinGothic.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: MinionPro;
    src: local("MinionPro"), local("MinionPro"), url("../fonts/MinionPro.otf") format("truetype");
    font-style: normal;
}
