@use "variables";
@use "utilities";
@use "layout";

.section__header {
    @include layout.section-flat;
}

.section__title {
    @extend %disp-inline-block;
    @extend %font-size-body-2;
    @extend %pt-2;
    @extend %pb-1;
    border-bottom: variables.$borderPrimary;
    text-transform: uppercase;

    @media (prefers-color-scheme: dark) {
        & {
            border-bottom: variables.$borderPrimaryLight;
        }
    }
}

.section__description {
    @extend %font-size-body-1;
    @extend %max-w-60ch;

    font-style: italic;
}

.section__content {
    @include layout.section-flat;
    @extend %py-2;
}
